.jumbotron{
    margin-top: 30px;
    font-weight: bold;
}
.card-group{
    width: 59%;
    margin-left: 21%;
    padding-bottom: 30px;
    
}
.card{
    margin-right: 14px;
    text-align: center;
}

.navbar-brand{
    margin-left: 370px;
}
.navbar-nav{
    margin-right: 360px;
}
.navbar  {
    color: aliceblue;
    text-align: center;
}